<configuration>  
  <system.webServer>
    <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\mencoba\AppData\Local\Programs\Python\Python39\python.exe|C:\Users\mencoba\AppData\Local\Programs\Python\Python39\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <urlCompression doDynamicCompression="true" />
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="application.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\free\sertifmassal" />
	<add key="WSGI_LOG" value="C:\inetpub\wwwroot\free\sertifmassal\app.log" />
  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="180" />
        <identity impersonate="false" />
        <authentication mode="Forms" />
  </system.web>
</configuration>  